In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Alberto Pinalli/Documents/GitHub/SGBD/auto-mpg.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

## Etapa de pré-processamento

### Separando os conjuntos de treino e teste

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [5]:
from sklearn.model_selection import train_test_split

# separando os conjuntos de dados de treino e teste
df_treino, df_teste = train_test_split(df, test_size = 0.2, random_state = 42)

# separando a coluna alvo do conjunto de treino
df_treino_labels = df_treino['mpg'].copy()
df_treino        = df_treino.drop(columns='mpg')

# separando a coluna alvo do conjunto de teste
df_teste_labels = df_teste['mpg'].copy()
df_teste        = df_teste.drop(columns='mpg')

In [6]:
df_treino.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
3,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
18,4,97.0,88.0,2130,14.5,70,3,datsun pl510
376,4,91.0,68.0,2025,18.2,82,3,mazda glc custom l
248,4,91.0,60.0,1800,16.4,78,3,honda civic cvcc
177,4,115.0,95.0,2694,15.0,75,2,audi 100ls

### Automação do processo de pré-processamento

In [7]:
from sklearn.impute import SimpleImputer  # PREENCHER DADOS FALTANTES
from sklearn.preprocessing import StandardScaler # NORMALIZAR
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer